body h3 {
    text-decoration: none;
}
.content h1 a,
.content .h1 a,
.content h2 a,
.content h3 a,
.content h4 a,
.content h5 a,
.content h6 a {
  text-decoration: underline;
}

.content {
    display: block;
}

img.floatleft {
    float: left;
    padding: 0 20px;
}
