.content h1 a,
.content .h1 a,
.content h2 a,
.content h3 a,
.content h4 a,
.content h5 a,
.content h6 a {
  text-decoration: underline;
}

.content {
    display: block;
}

img.floatleft {
    float: left;
    padding: 0 20px;
}

.content a.icon {
    display: inline-block;
}

p.nojustify {
    text-align: left;
}
h1 {
    font-size: 1.8rem !important;
}
h2 {
    font-size: 1.5rem !important;
}
body h3 {
    font-size: 1.3rem !important;
    text-decoration: none;
}
h4 {
    font-size: 1.2rem !important;
}
body {
    font-size: 18px;
}

body h2, body h3 {
    color: #882a41;
}
